@model MagicVilla_Web.Models.DTO.VillaNumberModifyDTO

@{
    ViewData["Title"] = "Update";
}

<div class="container p-4 border">
    <div class="row">
        <div class="col text-end pt-1">
            <h3 class="text-primary">Update VillaNumber</h3>
        </div>
    </div>
    <hr class="mt-0" />
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="Update">
                <div class="row pb-3 d-none">
                    <div class="col-2">
                        <label asp-for="Id" class="control-label"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Id" class="form-control" readonly/>
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-2">
                        <label asp-for="VillaNo" class="control-label"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="VillaNo" class="form-control" readonly />
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-2">
                        <label asp-for="VillaId" class="control-label"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <select asp-for="VillaId" class="form-control" asp-items="@Model.VillaList">
                            <option selected disabled>--Select Villa--</option>
                        </select>
                        <span asp-validation-for="VillaId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-2">
                        <label asp-for="SpecialDetails" class="control-label"></label>

                    </div>
                    <div class="col-10">
                        <input asp-for="SpecialDetails" class="form-control" />
                        <span asp-validation-for="SpecialDetails" class="text-danger"></span>

                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 offset-2">
                        @Html.ActionLink("Back", "Index", new { controller = "VillaNumber" }, new { @class = "btn btn-primary form-control" })
                    </div>
                    <div class="col-5">
                        <input type="submit" value="Update" class="btn btn-success form-control" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
